/*项目面板*/

.panel-title {
    float: left;
    margin-bottom: 10px;
}

.panel-title ul {
    padding-left: 0;
    height: 38px;
    line-height: 38px;
}

.panel-title ul li {
    float: left;
    list-style: none;
}

.li-title {
    font-size: 22px;
    margin-right: 25px;
}

.panel-title ul li.li-s {
    padding-top: 10px;
    margin-right: 20px;
}

.panel-title ul li.li-s span:first-child {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #00a8e4;
}

.panel-title ul li.li-s span.li-s-third {
    background: #e9ab0d;
}

.panel-title ul li.li-s span.li-s-forth {
    background: #e2162c;
}

.datatime-group {
    float: right;
}

.date-line {
    display: inline-block;
    width: 15px;
    height: 1px;
    background: #333;
    position: relative;
    top: -2px;
}

.panel-left {
    /*background: red;*/
    height: 460px;
    padding: 0;
}

.panel-right {
    padding: 0;
    padding-top: 20px;
    /*background: blue;*/
}

.chart-page {
    text-align: center;
}

.span-page {
    display: inline-block;
}

.current-page {
    padding-left: 20px;
}

.total-page {
    padding-right: 20px;
}

.cy-icon-ll {
    color: #666;
    font-size: 14px !important;
}

.search-groups {
    padding: 0;
}

.search-groups input {
    border-radius: 5px 0 0 5px;
    outline: none;
    background: #efefef;
}

.search-groups input:focus {
    outline: none;
    border: 1px solid #dedede;
}

.search-groups button {
    background: #be0e21;
    border-radius: 0 5px 5px 0;
    border: none;
    outline: none;
}

.search-groups button:focus,
.search-groups button:active {
    border: none;
    outline: none;
}

.table-edit-span {
    display: inline-block;
    width: 17px;
    cursor: pointer;
    height: 18px;
    background: url(../img/edit.png);
}

.btn-creat {
    background: #be0e21;
    color: #fff;
    width: 115px;
    height: 45px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 45px;
    font-size: 16px;
    cursor: pointer;
}

.btn-creat-span {
    position: relative;
    left: -5px;
    top: 5px;
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url(../img/creat.png);
}

.base-table th,
.base-table td {
    text-align: center;
}


.div-2 {
    margin-left: 30px;
}

.ws-div-form {
    width: 140px;
    float: left;
}

.time-fl {
    margin-left: 10px;
}

.div-3-1-span {
    margin-left: 30px;
}

.btn-li-xj {
    background: #b9071a url(../img/xj.png) no-repeat 18px 7px;
    background-size: 21px 23px;
    padding-left: 45px;
    font-size: 16px;
}
.btn-li-add{
    font-size: 16px;
    background: #b9071a; 
}

.cy-col-conent {
    padding: 20px 20px 0;
}
.layui-tab-content {
    padding: 10px 0 0 !important;
}

.del-pic{
    margin-left: 20px;
}




/*弹窗*/
.layer-content{
    text-align: center;
    padding-top: 40px;
    font-size: 14px;
}
.layui-layer-btn a.del-person{
    border: none;
    color: #fff;
    height: 30px;
    line-height: 30px;
    background: #be0e21!important;
    color: #fff;
     padding: 0 20px !important;
     bottom: 20px;
     position: relative;
}

.layui-layer-btn a.cancel{
    border: none;
    height: 30px;
    line-height: 30px;
    background: #f3f3f3!important;
    color: #333;
     padding: 0 20px !important;
     bottom: 0px;
     position: relative;
}
.layui-layer-btn a.sure{
    border: none;
    color: #fff;
    height: 30px;
    line-height: 30px;
    background: #be0e21!important;
    color: #fff;
     padding: 0 20px !important;
     bottom: 0px;
     position: relative;
}
.lc form {
   padding: 0 20px;
   padding-left: 10px;
}
.lc form li{
    font-size: 14px;
    color: #666;
}
.lc form li input{
    border-radius: 2px;
}
li.title-firsts{
    /*margin-bottom: 10px;*/
    margin-top: 10px !important;

}
.form-title .layui-form-label{
    width: 104px;
    /*background: red;*/
    padding-left: 0;
    padding-right: 0;
}




.cy-div-select{
    position: relative;
    /*background: blue;*/
    /*width: 300px;*/
}


.cy-form-label {
    float: left;
    display: block;
    padding-left: 35px;
    padding-right: 6px;
    padding-top: 10px;
    font-size: 14px;
    color: #666 !important;
    width: 80px;
    font-weight: 400;
    text-align: right;
     line-height: 20px;
    position: relative;
}


.cy-div-select button{
    height: 38px;   
    background: #fff;
    border: 1px solid #dedede;
    padding-left: 10px;
    outline: none;
}
.cy-div-select button input{
    height: 32px;
    width: 325px;
    border: none;
}
.cy-div-select i{
    margin-right: 10px;
    color: #dedede;
}
.select-body{
    background: #fff;
    border: 1px solid #dedede;
    border-top: none;
    width: 364px;
    position: absolute;z-index: 100;
    left: 121px;
}
.select-body form{
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;

}
.select-body div.layui-form-item{
    width: 344px;
    background: #fff;
}




/* 工程信息的二级页面 */
.header-title {
    line-height: 50px;
    height: 50px;
    background: #7c7a85;
    padding-left: 20px;
    font-size: 14px;
    color: #e3e2e4;
}
.info-header{
    line-height: 25px;
    padding: 10px  20px;
    line-height: 30px;
}

.layui-btn-3 {
    height: 36px;
    line-height: 36px;
    margin-top: 20px;
    margin-bottom: -10px;
    background: #be0e21;
}
