.c-body .right .title{
    line-height: 68px;
    font-size: 20px;
    text-align: center;
}
.label_reset .span{
    width: 50px;
    margin-right: 10px;
    color: #6b6b6b;
    text-align: right;
    line-height: 42px;
}
.right li.oh{
    margin-bottom: 10px;
    
}
.label_reset input{
    width: 251px;
    padding-left: 10px;
    border-radius: 5px;
    border:1px solid #ececec;
    line-height: 42px;
    height: 42px;
}

